<html>
<head></head>
<body>
    <h1> Following are the titles of given websites: </h1>
    <ul>
        <% titles.forEach(title => { %>
            <li><%= title %></li>
        <% }) %>
    </ul>
    <% if (errorMessage) { %>
        <p><%= error.message %></p>
    <% } %>
</body>
</html>