<html>
<head></head>
<body>
    <h1> Following are the titles of given websites: </h1>
    <ul>
        <% domainsList.forEach(domain => { %>
            <li><%= domain %></li>
        <% }) %>
    </ul>
    <% if (error && error.message) { %>
        <p><%= error.message %></p>
    <% } %>
</body>
</html>